.meter { 
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress2 {
  background-color: #e4c465;
  animation: progressBar 3s linear;
  -webkit-animation: progressBar 3s linear;
  -webkit-animation-fill-mode:both; 
  -moz-animation: progressBar 3s linear;
  -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

@-moz-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}