.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
}


.questCard {
  margin-left: 1em!important;
  margin-right: 1em!important;
  margin-top: 0em!important;
}

.questCardFooter {
  margin-left: .25em!important;
  margin-right: .25em!important;
  margin-bottom: 0em!important;
  margin-top: 1em!important;
}