.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
}


.questCardActive {
  height: 35em;
  width: 20em;
  margin-left: .5em!important;
  margin-right: .5em!important;
  margin-top: 0em!important;
}

.questCardCompleted {
  height: 20em;
  width: 15em;
  margin-left: .5em!important;
  margin-right: .5em!important;
  margin-top: 0em!important;
}


.questCardFooter {
  display: flex;
  margin-left: .25em!important;
  margin-right: .25em!important;
  margin-bottom: 0em!important;
  margin-top: 0em!important;
}

.turnInRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em;
}