#playerCard {
    width: 20%;
    margin-left: 0.5em;
}
#playerCard2 {
    width: 60%;
    margin-left: 0.5em;
}
#playerCard3 {
    width: 400px;
    margin-left: 0.5em;
    flex: 2;
}

#results {
    width: 100%;
}

#container {
    width: 100%;
    padding: 20px;
}

.tabView {
    margin-top: 2em;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#constructionImg {
    filter: grayscale(50%);
}