#playerCard {
    width: 20%;
    margin-left: 0.5em;
}
#playerCard2 {
    width: 60%;
    margin-left: 0.5em;
}
#playerCard3 {
    width: 16.25%;
    margin-left: 0.5em;
}

#results {
    width: 100%;
}

#container {
    width: 100%;
    padding: 20px;
}